@import "../../../scss-variables.scss";

.comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .add-comment {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;

        .add-comment-label {
            color: $main-gray;
        }

        .add-comment-bottom-part {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .add-comment-button {
                margin-left: auto;
                border: 1px solid $main-gray;
                background-color: $main-white;
                padding: 0 0.5rem;
                margin-right: auto;
                margin-left: 0;
                transition: 0.2s ease-in;

                &:hover,
                &:active {
                    opacity: 0.9;
                    // color: gray;
                    // background-color: $main-gray;
                }
            }
            .add-comment-input {
                background-color: $main-white;
                border: 1px solid $main-gray;
                outline: none;
                padding: 0.5rem 1rem;
                resize: none;
                transition: 0.2s ease-in;

                &:focus {
                    outline: 1px solid $main-black;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .add-comment-button {
        width: 100%;
        margin-top: 0.5rem;
        height: 3rem;
    }
}
