@import "../../../scss-variables.scss";

.add-new-item-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    max-width: 400px;
    margin: 2rem auto 1rem;

    .submit-new-product-button {
        height: 2.5rem;
        font-size: 1.25rem;
        background-color: $main-orange;
        color: $main-black;
        transition: 0.2s ease-in;
        border: none;
        &:hover {
            opacity: 0.9;
        }

        &:active {
            background-color: $main-black;
            color: $main-orange;
        }
    }
}
