@import "../../../scss-variables.scss";

.select-modal-holder {
    width: 100vw;
    height: 100vh;
    background-color: $main-shadow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .select-modal {
        position: absolute;
        top: 20%;
        right: 50%;
        transform: translateX(50%) translateY(50%);
        width: 80%;
        min-width: 280px;
        max-width: 400px;
        height: 200px;
        background-color: $main-white-2;
        box-shadow: 0 0 10px 4px $main-shadow;
        z-index: 2;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .close-modal-button {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            top: 0.25rem;
            right: 0.25rem;
            font-size: 1.25rem;
            line-height: 1rem;
            border: none;
            background-color: $main-white-2;
            transition: 0.2s ease-in;

            &:hover {
                color: $main-black-dimmed;
            }
        }

        .item-price-holder {
            width: fit-content;
            margin: 0.5rem auto 0;
        }

        h3 {
            text-align: center;
        }

        .price-text {
            text-align: center;
        }

        form {
            // display: flex;
            // flex-direction: column;
            gap: 0.5rem;

            .select-modal-form-upper-part {
                display: flex;
                justify-content: center;
                gap: 0.5rem;

                input {
                    width: 3rem;
                    height: 2rem;
                    border: 2px solid $main-black;
                    text-align: center;
                    font-size: 1.1rem;
                    border-radius: 0.25rem;
                    outline: none;
                    transition: 0.2s ease-in;

                    &:focus {
                        border: 2px solid $main-black-dimmed;
                    }
                }
                button {
                    height: 2rem;
                    width: 2rem;
                    border: 1px solid $main-black;
                    border-radius: 0.25rem;
                    background-color: $main-black;
                    color: $main-white;
                    transition: 0.2s ease-in;
                    font-weight: bold;
                    transition: 0.2s ease-in;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
