@import "../../scss-variables.scss";

.add-product-page {
    .select-tab-buttons {
        margin-bottom: -1px;
    }
    table {
        border-collapse: collapse;
        border: 1px solid $main-black;
        width: 100%;
        tr {
            border-bottom: 1px solid $main-black;

            td {
                padding: 0 0.5rem;
                border-right: 1px solid $main-black;
            }
        }
    }
}
