@import "../../../scss-variables.scss";

.comment {
    // border: 1px solid $main-gray;
    padding: 2rem 1rem 0.5rem 1rem;
    position: relative;
    animation: comment-appear 0.2s ease-in;
    box-shadow: 0 0 5px 2px $main-shadow;

    border-radius: 0.5rem;
    background-color: white;

    // &:first-of-type {
    //     border-top-left-radius: 0.5rem;
    //     border-top-right-radius: 0.5rem;
    // }
    // &:last-of-type {
    //     border-bottom-right-radius: 0, 5rem;
    //     border-bottom-left-radius: 0.5rem;
    // }

    .comment-writer {
        color: $main-gray;
        position: absolute;
        top: 2px;
        left: 6px;
        font-size: 0.8rem;
    }
    .comment-time {
        color: $main-gray;
        position: absolute;
        top: 2px;
        right: 6px;
        font-size: 0.7rem;
    }
}

@keyframes comment-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
