@import "../../../scss-variables.scss";
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: $main-orange;
    box-shadow: 0 0 10px 2px $main-shadow;
    position: fixed;
    // width: 100%;
    min-width: 100%;
    top: 0;
    transition: 0.2s ease-in;
    z-index: 3;

    a {
        h1 {
            font-size: 1.5rem;
            color: $main-black;
            opacity: 0;
            animation: appear 0.1s 0.2s ease-in forwards;
        }
    }
    nav {
        .nav-link-list {
            list-style: none;
            display: flex;
            height: 100%;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            opacity: 0;
            animation: appear 0.1s 0.2s ease-in forwards;
            li {
                align-content: center;
                transition: 0.2s ease-in;
                a,
                button {
                    color: $main-black;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .active {
            background-color: $main-black !important;
            color: $main-orange !important;
        }
    }
}

.cart-link-button {
    font-size: 1.5rem;
    svg {
        display: block;
    }
}

.header-scrolled {
    background-color: $orange-transparent;
    padding: 0.25rem 1rem;

    .nav-link-list {
        li {
            a,
            button {
                padding: 0.25rem 1rem;
                border-radius: 0;
                color: $main-black;
                font-weight: bold;
            }
        }
    }
}

.nav-menu-opened {
    display: block;
}

@keyframes slide-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes rotate {
    0% {
        background-color: $main-black;
        opacity: 0.7;
        border-radius: 50%;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: left;

        a {
            width: fit-content;
            margin-right: auto;
        }
        nav {
            display: none;
            padding: 1rem 0;
            animation: appear 0.2s ease-in;
            .nav-link-list {
                padding-top: 10px;
                flex-direction: column;
                // width: 100%;
                li {
                    width: 80vw;
                    & > a,
                    & > button {
                        width: 100%;
                        display: block;
                        text-align: center;
                        svg {
                            width: 100%;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
    .hamburger-menu-button {
        display: block;
    }
}
