@import "../../../scss-variables.scss";

.card {
    width: 200px;
    display: block;
    .card-image {
        width: 100%;
        box-shadow: 0 0 10px 2px $main-shadow;
    }
    .card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px 3px 3px;
        font-size: 0.8rem;

        .card-name {
            color: $main-black;
        }
        .card-price {
            color: $main-black-dimmed;
        }
    }
}
