@import "../../../scss-variables.scss";

.card {
    width: 200px;
    display: block;
    position: relative;
    .card-image {
        width: 100%;
        box-shadow: 0 0 10px 1px $main-shadow;
        transition: 0.2s ease-in;

        &:hover {
            box-shadow: 0 0 15px 5px $main-shadow;
        }
    }
    .item-amount {
        position: absolute;
        // top: 1px;
        // left: 5px;
        top: -1.1rem;
        background-color: $main-gray;
        color: $main-white;
        width: 2rem;
        text-align: center;
        opacity: 0.75;
        height: 1.1rem;
        // box-shadow: 0 0 10px 2px $main-shadow;
        font-size: 0.75rem;
        line-height: 1.1rem;
    }
    .discount-text {
        position: absolute;
        color: white;
        background-color: $alert-color;
        font-size: 0.75rem;
        padding: 0 0.25rem;
        top: 0;
    }
    .card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px 3px 3px;
        font-size: 0.75rem;
        font-weight: normal;
        gap: 1rem;
        letter-spacing: 0.05rem;

        .discounted-card-price {
            position: relative;
            .old-price {
                font-size: 0.55rem;
                // text-decoration: line-through;
                color: $main-black-dimmed;
                opacity: 0.75;
                position: absolute;
                top: -0.65rem;
                left: -0.75rem;
                display: none;
            }
            .new-price {
                color: white;
                padding: 0 0.25rem;
                background-color: $alert-color;
            }
        }

        .card-name {
            color: $main-black;
            font-size: 0.9rem;
            font-weight: 200;
            line-height: 1rem;
            margin-bottom: auto;
        }
        .card-price {
            color: $main-white;
            background-color: $main-black;
            padding: 0 0.25rem;
            margin-bottom: auto;
        }
    }

    .card-tooltip {
        visibility: hidden;
        position: absolute;
        top: -3rem;
        border-radius: 6px;
        padding: 1px 10px;
        background-color: $main-black;
        color: $main-white;
        font-size: 0.8rem;
        opacity: 0.75;
        z-index: 2;
    }
    .card-tooltip::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $main-black transparent transparent transparent;
    }

    &:hover .card-tooltip,
    &:active .card-tooltip {
        visibility: visible;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 100%;
    }
}
