@import "../../scss-variables.scss";

.item-page {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .item-description {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        display: flex;
        gap: 4rem;
        justify-content: center;

        .item-image {
            width: 40vw;
            max-width: 420px;
            min-width: 240px;
            box-shadow: 0 0 10px 2px $main-shadow;
        }

        .item-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-name {
                font-size: 2rem;
            }
        }
    }
}
