@import "scss-variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $main-black;

    background-color: $main-white;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: orange; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 9rem auto;
}

.link-button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: $main-black;
    font-weight: bold;
    color: $main-white;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: block;

    &:hover,
    &:active {
        opacity: 0.9;
    }
}
.card-holder {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.warning {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

@media screen and (max-width: 600px) {
    main {
        width: 95%;
    }
}
