@import "scss-variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $main-black;
    background-color: $main-white;

    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 7rem auto;
}

.button {
    transition: 0.2s ease-in;
    background-color: $main-orange;
    color: $main-black;
    border: none;

    &:hover {
        opacity: 0.9;
    }
    &:active {
        background-color: $main-black;
        color: $main-orange;
    }
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 5vh auto;
    gap: 1.5rem;

    .form-button {
        width: 100%;
        border: 1px solid $main-black;
        padding: 0.5rem 0;
        background-color: $main-orange;
        color: $main-black;
        box-shadow: 0 0 10px 2px $main-shadow;
        transition: 0.2s ease-in;

        &:hover,
        &:active {
            box-shadow: 0 0 15px 3px $main-shadow;
            background-color: $main-black;
            color: $main-orange;
        }
    }

    .error-list {
        margin-bottom: 0.25rem;
    }

    a {
        color: $main-orange;
        text-decoration: underline;
        transition: 0.2s ease-in;
        font-size: 0.8rem;

        &:hover {
            opacity: 0.8;
        }
    }
}

.link-button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: $main-black;
    font-weight: bold;
    color: $main-white;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: block;

    &:hover,
    &:active {
        opacity: 0.9;
    }
}
.card-holder {
    margin: 2.5rem auto;
    width: auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 200px);
    border-radius: 0.5rem;
    width: fit-content;
    // display: none;
}

.centered-text {
    margin-top: 3rem;
    text-align: center;
}

.table-row {
    th {
        padding: 0 0.5em 0.5em 0.5em;
        text-align: left;
        &:last-of-type {
            text-align: right;
        }
    }
    td {
        width: 25%;
        padding: 1em 0.5em;
        white-space: nowrap;

        &:last-of-type {
            text-align: right;
        }

        button {
            background-color: $main-white-2;
            border: 0;
            font-size: 1.25em;
            height: 1.5em;
            width: 1.5em;
            margin-right: 0.5em;
            transition: 0.2s ease-in;
            // padding: 0 0.5rem;

            &:hover {
                // background-color: $main-black;
                background-color: $main-white-2;
                opacity: 0.7;
            }

            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }
        button.delete-item {
            color: $error-color;
        }
        .search-label {
            .search-select {
                border: none;
                padding: 0.25em 0.5em 0.25em 0.25em;
                margin-right: -2em;
                background-color: white;
                font-size: 1em;
                // appearance: none;
                text-align: left;
            }
        }
    }
    input {
        border: none;
        padding: 0.25em 0.5em;
        margin-left: -0.5em;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1em;
    }
    .edit-input-error {
        background-color: red;
    }
}

@media screen and (max-width: 900px) {
    .card-holder {
        grid-template-columns: repeat(3, 200px);
    }
}
@media screen and (max-width: 700px) {
    .card-holder {
        grid-template-columns: repeat(2, 200px);
    }
}
@media screen and (max-width: 500px) {
    main {
        width: 95%;
        .login-form,
        .register-form {
            max-width: 100%;
            margin: 0;
            gap: 2rem;
        }
    }
}
@media screen and (max-width: 450px) {
    main {
        .card-holder {
            gap: 0.75rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
