$main-orange: #e15b4f;
$main-white: #eceff7;
$main-gray: #9b9ca8;
$main-black: #10132c;
$main-blue: #3f4aaf;

$main-shadow: #10132c18;
$main-black-dimmed: #44454b;
$orange-transparent: #e15b4f34;
$error-color: #c92918;
