@import "../../scss-variables.scss";

.admin-panel-page {
    font-size: 14px;
    .select-tab-buttons {
        margin-bottom: -1px;
    }
    .item-list {
        background-color: $main-white-2;
        box-shadow: 0 0 10px 2px $main-shadow;
        padding: 0.5em 1rem;
        border-radius: 0 0.75em 0.75em 0.75em;
        position: relative;
        z-index: 2;
        table {
            thead {
                margin-bottom: 0.5em;
                border-bottom: 1px solid $main-black;
            }
            border-collapse: collapse;
            width: 100%;
            tr {
                th {
                    padding: 0 0.5em 0.5em 0.5em;
                    text-align: left;
                    &:last-of-type {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .admin-panel-page {
        width: 95%;
        font-size: 13px;
    }
}
